<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="simulation" value="simulation.sh" />
    <add key="maxParallel" value="4"/>
    <add key="randomizeCombos" value="1" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISimulationHost" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:12345/SimulationHost/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ISimulationHost" contract="HostProxy.ISimulationHost"
        name="BasicHttpBinding_ISimulationHost" />
    </client>

    <extensions>
      <behaviorExtensions>
        <add name="crossOriginResourceSharingBehavior" type="SimulationBuilder.CORS.EnableCrossOriginResourceSharingBehavior, SimulationBuilder, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <webHttp />
          <crossOriginResourceSharingBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="SimulationBuilder.SimulationHost">
        <endpoint address="" binding="basicHttpBinding" contract="SimulationBuilder.ISimulationHost">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

        <endpoint address="web" binding="webHttpBinding" contract="SimulationBuilder.ISimulationHost" behaviorConfiguration="jsonBehavior">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12345/SimulationHost/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>